@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@mixin fonts-clear {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0;
  line-height: 0;
}

@mixin _fonts-base {
  -webkit-font-smoothing: antialiased;
}

@mixin fonts-nav-link {
  @include _fonts-base;

  font-family: Inter, X-LocaleSpecific, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

@mixin fonts-nav-button {
  @include _fonts-base;

  font-family: Inter, X-LocaleSpecific, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

@mixin fonts-body {
  @include _fonts-base;

  font-family: Inter, X-LocaleSpecific, sans-serif;
  font-size: 18px;
  line-height: 27px;
}

@mixin fonts-banner {
  @include _fonts-base;

  font-family: Inter, X-LocaleSpecific, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

@mixin fonts-collapsed-post-title {
  @include _fonts-base;

  font-family: Inter, X-LocaleSpecific, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

@mixin fonts-collapsed-post-metadata {
  @include _fonts-base;

  font-family: Inter, X-LocaleSpecific, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

@mixin fonts-collapsed-post-likes {
  @include _fonts-base;

  font-family: Inter, X-LocaleSpecific, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

@mixin fonts-caption {
  @include _fonts-base;

  font-family: Inter, X-LocaleSpecific, sans-serif;
  font-size: 14px;
  line-height: 21px;
}

@mixin fonts-post-title {
  @include _fonts-base;

  font-family: Inter, X-LocaleSpecific, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

@mixin fonts-post-metadata {
  @include _fonts-base;

  font-family: Inter, X-LocaleSpecific, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

@mixin fonts-post-likes {
  @include _fonts-base;

  font-family: Inter, X-LocaleSpecific, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}
